.topImage{
    height: 600px;
    width: 200px;
}

.topImagediv{
    width:100%;
    text-align: center;
    background-color: black;
    color: red;
    font-size: 50px;
}

*{
    margin: 0;
}

.flexbox{
    display: flex;
    min-height: fit-content;
    border: 1px solid blue;
    text-align: center;
    justify-content: space-between;
    width: fit-content;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 30px;
    background-color: yellow;
    
}

.item{
    min-width: fit-content;
    min-height: fit-content;
    box-shadow: 10px 10px 10px #888888;
    border-radius: 50px;
    overflow: hidden;
}
img{
    width: 400px;
    height: 400px;
}